html
  head
    meta(charset="utf-8")
    style.
      line {
        fill: none;
        //- stroke: red;
      }

  body

    script(src="http://d3js.org/d3.v3.min.js")
    script(src="js/draw.js")
