html
  head
    meta(charset="utf-8")
    style.
      body {
        background-color: black;
      }

      circle {
        fill: none;
        stroke: green;
      }

  body

    script(src="http://d3js.org/d3.v3.min.js")
    script(src="js/flower.js")
