html
  head
    meta(charset="utf-8")
    style.
      .node {
        stroke-width: 1.5px;
      }

  body

    div(id='svgContainer')

    script(src="http://d3js.org/d3.v3.min.js")
    script(src="js/force.js")
