html
  head
    meta(charset="utf-8")
    style.
      svg {
      background-color: grey;
        fill: grey;
      }

      svg .turm {
        fill: #990099;
      }

      svg .scheibe {
        fill: white;
        stroke: grey;
      }

  body

    script(src="http://d3js.org/d3.v3.min.js")
    script(src="js/hanoi.js")
