html
  head
    meta(charset="utf-8")
    style.
      svg {
        fill: black;
        //- border: 1px solid red;
      }
      .mainCircle {
        fill: none;
        stroke: black;
      }

      .nPoint {
        fill: none;
      }

      .nLines {
        //- stroke: red;
      }

      .background {
        fill: black;
      }

      svg text {
        font-size: 20;
      }

      body {
        background-color: black;
      }


  body

    script(src="http://d3js.org/d3.v3.min.js")
    script(src="js/mandel.js")
