html
  head
    meta(charset="utf-8")
    style.
      .progress .background {
        fill: #F5F5F5;
        //- stroke: #E7E7E7;
        //- stroke-width: 2px;
      }

      .progress .border {
        fill: none;
        //- stroke: #E7E7E7;
        stroke: #444444;
        stroke-width: 2px; 
        z-index: 2;
      }

      .progress .bar {
        z-index: 1;
      }


  body

    div(id='svgContainer')

    script(src="http://d3js.org/d3.v3.min.js")
    script(src="js/progress.js")
